<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <span class="brand">Nicolás Sáenz | Developer</span>
    </ng-template>
  </p-menubar>
</div>

<main class="app-content">
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="app-footer">
  <div>© {{ year }} Nicolás Sáenz. Todos los derechos reservados.</div>
  <div class="links">
    <a href="www.linkedin.com/in/nicolás-sáenz-844785235" target="_blank" rel="noreferrer">LinkedIn</a>
    <a href="https://github.com/DeusNicoX" target="_blank" rel="noreferrer">GitHub</a>
    <a href="mailto:na.saenz@hotmail.com">Correo</a>
  </div>
</footer>